<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <nav class="navbar navbar-expand-sm bg-dark">
        <ul class="navbar-nav">
          <li role="presentation"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              class="nav-item">
            <a class="nav-link" routerLink="/">Home</a></li>
          <li role="presentation"
              routerLinkActive="active"
              class="nav-item">
            <a class="nav-link" routerLink="/servers">Servers</a></li>
          <li role="presentation"
              routerLinkActive="active"
              class="nav-item">
            <a class="nav-link" [routerLink]="['/users']">Users</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
